*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#head{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
#Men{
    display: flex;
}
header{
    background-color: black;
    color: white;        
}
#Men div{
    padding: 0px 5px
}
.all{
    background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.5)), url(images/Commercial\ District.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Page1{
    position: absolute;
    color: white;
    text-align: center;
    padding: 450px 600px;     
    font-size: 20px;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.Page2{
    background-color: white;    
}
.Page21{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.1)), url(images/Linear\ Architecture.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    padding: 30px;
}